<nav class="navbar navbar-expand-sm navbar-dark bg-danger">
  <a class="navbar-brand" [routerLink]="['/']">Pokedex by
    <img src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png" height="30"
      class="d-inline-block align-top" /></a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/pokemons']">Pokemony</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
